.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.navbar-searchfield {
  width: 400px;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin-left: 50px;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-right .cart-icon,
.navbar-right .user-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}

.navbar-right .cart-count {
  background-color: #f44336;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 8px 58px;
}

.menu-dropdown {
  position: absolute;
  right: 10px;
  top: 60px; /* Ajusta según la altura del navbar */
  background: #000000;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 100;
  min-width: 180px;
}

.menu-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-dropdown li {
  padding: 10px 16px;
  cursor: pointer;
}

.menu-dropdown li:hover {
  background: #f5f5f5;
}

/* LINK STYLES */
.no-link-style {
  color: inherit;
  text-decoration: none;
}
.no-link-style:visited {
  color: inherit;
}
.no-link-style:hover {
  text-decoration: underline; /* O quítalo si no quieres subrayado al pasar el ratón */
}

@media (max-width: 768px) {
  .navbar-center .nav-links {
    display: none;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  .navbar-right .hamburger-menu {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
}